/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}


/*----------  Media  ----------*/
img {
    max-width: 100%;
    height: auto;
}

svg {
    display: block;
}

iframe {
    border: none;
}

button {
    background: none;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}