/*----------  Grids  ----------*/

$gutter: ms(1);

.row, %row {
	display: flex; 
	flex-flow: wrap row; 
	margin-left: - $gutter/2;
	margin-right: - $gutter/2;

	.valign-center {
		margin: auto;
	}
}


/*----------  Row, Columns grid system generator function ----------*/
$col_min: 1; 
$col_max: 24;

@for $col_total from $col_min through $col_max {
	@for $col from $col_min through $col_total {
		.row .col-#{$col}-#{$col_total} {
			@extend %col;
			padding: 0 $gutter/2;
			flex: 1 0 percentage( ( $col/$col_total) );
			min-width: 5rem;
		}
	}
}


// Extendable, width based Columns
@for $col_total from $col_min through $col_max {
	@for $col from $col_min through $col_total {
		.col-#{$col}-#{$col_total} {
			@extend %col;
			width: percentage( ( $col/$col_total) );
		}
	}
}