
.nowrap {
	white-space: nowrap;
}

.noScroll {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* Clear Fix */
.clearfix, %clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after { 
   clear: both;
  }
}