
/*==============================
=            Global            =
==============================*/

/*----------  Book ----------*/
html {
	font-size: 1em;
}

body {
	font-family: $font-book;
	font-weight: 300;
	line-height: 1.45;
	color: $color-font-book;
}

p {
	margin-bottom: $spacing-unit;
}


/*----------  Heading ----------*/
h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
	margin: $spacing-unit*1.7 0 $spacing-unit*.5;
	line-height: 1.2;
	letter-spacing: .05em;
}

h1, h2, h3, h4 {
	&:first-child {
		margin-top: 0;
	}
}

h1 {
	margin-top: 0;
	font-size: ms(7);
}

h2 {
	font-size: ms(6);
}

h3 {
	font-size: ms(2); 
	letter-spacing: normal;
	font-family: $font-book;
	font-weight: 300;
	text-transform: inherit;
}

h4 {
	font-size: ms(3); 
}

h5 {
	font-size: 1.05em;
}
h6 {
	font-size: 0.8004em;
}

button {
	font-size: 1em;
}

/*----------  Special  ----------*/
small, .font_small {font-size: 0.707em;}

strong, b {
	font-weight: 700;
}

/*----------  Links ----------*/
a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}


/*=============================
=            Icons            =
=============================*/
// dashicons 
i[class^="dashicons"] {
	font-family: dashicons;
}

/*=======================================
=            Special classes            =
=======================================*/






