

/*=================================
=            Animation            =
=================================*/

/*----------  Easing  ----------*/
$easeInCubic : cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeOutCubic : cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeOutQuint : cubic-bezier(0.23, 1, 0.32, 1);
$easeOutSine : cubic-bezier(0.39, 0.575, 0.565, 1);
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInSine   : cubic-bezier(0.470, 0.000, 0.745, 0.715); 
$easeInSmoove: cubic-bezier(0.705, 0.030, 0.555, 0.855); 


/*=============================
=            Colors            =
=============================*/

/*----------  Global  ----------*/
$color-base: #A82674;
$color-accent: #A82674;
$color-dark: #111111;
$color-darker: #111111;
$color-darkest: #111111;
$color-light: $grey-50;
$color-lighter: $grey-100;
$color-lightest: #FFFFFF;

/*----------  Color Typography  ----------*/
$color-font-book: #000;

/*----------  Color Layout  ----------*/
$color-header-bg: #111111;
$color-footer-bg: #111111;
$color-sidebar-bg: #464646;


/*==================================
=            Typography            =
==================================*/

$font-book: 'Open Sans', Helvetica, Arial, sans-serif;
$font-heading: 'Pathway Gothic One', 'sans serif';
$font-display: '';
$spacing-unit: 1rem;


/*=================================
=            Dimension            =
=================================*/

/*----------  Layout  ----------*/
$site-max-width: 1180px;
$site-side-gutter: 9%;
$content-side-gutter: 12%;


/*=====================================
=            Modular Scale            =
=====================================*/

/*----------  Ratio  ----------*/
$ms-base: 1em;
$ms-ratio: $minor-third;
$ms-fluid: false;

$ms-range:
	1.4 40em,
	1.5 50em,
	1.6 60em;
