/*==================================
=            Typography            =
==================================*/

@media screen and (max-width: 40em) {
    body {
        font-size: .9em;
    }

    h1 {
        font-size: 2.441em;
    }

    h2 {
        font-size: 1.953em;
    }

    h3 {
        font-size: 1.563em;
    }

    h4 {
        font-size: 1.25em;
    }

    small, .font_small {
        font-size: 0.8em;
    }
}