
button {
	cursor: pointer;
	outline: 0;
}

.button {
	font-size: ms(2);
	font-family: $font-heading;
	display: inline-block;
	padding: $spacing-unit*.5 $spacing-unit;
	text-align: center;
	transition: background-color 60ms ease-out;
	width: 250px;
	box-sizing: border-box;
	text-transform: uppercase;

	&:hover {
	}
}

.button-inform {
	@extend .button;
	color: #FFF;
	font-family: $font-heading;
	background-color: $color-accent;
	&:hover {
	}
}

.button-action {
	@extend .button;
	color: $color-lightest;
	border: solid 1px $color-lightest;
	background: none;
	a {
		color: $color-lightest;
	}
	&:hover {
		text-decoration: none;
		color: $color-darkest;
		background-color: $color-lightest;
		a {
			text-decoration: none;
			color: $color-darkest;
		}
	}

	&.button-action--dark {
		border-color: $color-darkest;
		color: $color-darkest;
		a {
			color: $color-darkest;
		}
		&:hover {
			background-color: $grey-900;
			color: $color-lightest;
			a {
				color: $color-lightest;	
			}
		}
	}
	&.button-action--dark_fill {
		background-color: $color-darkest;
		border: 0;
		color: $color-lightest;
		a {
			color: $color-lightest;
		}
		&:hover {
			background-color: $grey-900;
			color: $color-lightest;
			a {
				color: $color-lightest;	
			}
		}
	}

	&.button-action--accent {
		font-family: $font-book;
		font-weight: 300;
		border-radius: 10px;
		border: 0;
		background-color: $color-accent;
		color: $color-lightest;
		a {
			color: $color-lightest;
		}
		&:hover {
			background-color: lighten( $color-accent, 10% );
		}
	}
}


.button-prev {
	svg {
		pointer-events: none;
	}
}

.button-next {
	svg {
		pointer-events: none;
	}
}

