/*----------  Module State  ----------*/

%nav-hideSubMenu {
    ul li ul {
        display: none;
    }
}

/*----------  Module Theme  ----------*/
%nav-light {
    // first level
    a {
        font-family: $font-heading;
        color: $color-lightest;
    }
}

/*----------  Modules  ----------*/

nav {
    @extend %nav-hideSubMenu;

    a {
        display: block;
    }
}

// main nav
.main-navigation {
    @extend %nav-light;
    font-size: ms(2);
    letter-spacing: .05em;
    text-transform: uppercase;
    margin: auto;

    a {
        font-family: $font-heading;
        padding: 0 $spacing-unit;
    }

    ul li {
        display: inline-block;
    }

    ul > li {
        //margin-right: $spacing-unit * 1.2;

        &:last-child {
            margin-right: 0;
        }

        &.border {
            border: solid 1px $color-lightest;
            a:hover {
                text-decoration: none;
            }
        }
    }

    // States
    .current-menu-item,
    .current-menu-ancestor,
    .current-menu-parent {
        a {
           text-decoration: underline;
        }
        &.border {
            a {
                text-decoration: none;
                background-color: $color-lightest;
                color: $color-darkest;
            }
        }
    }
}


// menu toggle
.menu-toggle {
    line-height: 1;
    border: 0;
    background-color: transparent;
    color: #FFF;
    overflow: hidden;
    padding: 0;

    &.is-active {
        &::before {
            content: "\f335";
            transform: rotate(90deg);
        }
    }
}
