/*========================================
=           WP Widgets            =
========================================*/

/*----------  WP Widget  ----------*/

// widget shell 

.widget {
    margin-bottom: $spacing-unit*1.5;
}

%widget-title-build-default {
    font-family: $font-heading;
    line-height: 1;
    margin-top: 0;
}

%widget-title-theme-grey {
    padding: $spacing-unit*.6 $spacing-unit;
    color: $color-light;
    background-color: $color-sidebar-bg;
    > a, > a:hover {
        color: $color-light;
    }
}

.widget-title {
    @extend %widget-title-build-default;
}
